---
key: 2
title: coaching
permalink: /coaching/
excerpt: take the first step towards change
image: couplereddress_omar-lopez-1104241-unsplash.jpg
background-image: couplereddress_omar-lopez-1104241-unsplash.jpg
---

<body>
   <p>Do you need an all-around relationship reboot? Or, are you struggling to overcome a specific problem in your relationship? Louise offers two different packages so she can meet partners where they are and move them to a place of energy and connection. </p>
</body>


{%
if site.categories.works %}
<div class="table-wrapper">
  <table>
    <tbody>{%
      include fn_groupsort_reverse.html unsorted=site.categories.works groupby='priority' sortby='date'
%}{%  for work in sorted_list %}
      <tr>
        <td><b><a href="{{ work.url | prepend: site.baseurl }}">{{ work.title }}</a></b></td>
        <td>{{ work.date | date: "%b %Y" }}</td>
        <td>{{ work.excerpt | strip_html | truncatewords: 12 }}</td>
        <td>
          {% include techlist.html %}
        </td>
      </tr>{%
      endfor %}
    </tbody>
  </table>
</div>{%
  <!-- if site.works_in_progress %}
  <div class="works_inprogress">In-progress, more to come.</div>{%
  endif %}{% -->
endif
%}
